@font-face {
    font-family: 'MiSans';
    src: url('../fonts/MiSans-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'MiSans Semibold';
    src: url('../fonts/MiSans-Medium.ttf') format('truetype');
}