@import 'bootstrap.min.css';
@import "./fontawesome-all.min.css";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'MiSans Semibold', MiSans,  Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size:16px;
}
main {
  position: relative
}

p {
  color: #6c757e;
  line-height: 1.7
}

.h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #4a4f55
}

a, .h1 > a:hover, .h2 > a:hover, .h3 > a:hover, .h4 > a:hover, .h5 > a:hover, .h6 > a:hover, h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #3F7FFF;
}

.h1.text-white > a, .h2.text-white > a, .h3.text-white > a, .h4.text-white > a, .h5.text-white > a, .h6.text-white > a, h1.text-white > a, h2.text-white > a, h3.text-white > a, h4.text-white > a, h5.text-white > a, h6.text-white > a {
  color: #fff
}

figure {
  margin-bottom: 0
}

strong {
  font-weight: 600
}

svg {
  margin-bottom: -.4375rem;
  vertical-align: baseline
}

table th {
  font-weight: 600
}
.text-primary{
  color: #3F7FFF !important;
}


.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0;
  font-weight: 500;
  flex-flow: wrap;
  h1 {
    font-weight: 500;
    margin-bottom: 0;
  }
}

.table-title {
  display: flex;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  flex-flow: wrap;
  p {
    margin-bottom: 0;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2rem;
  border-bottom: none;
}
.modal-header .close {
  padding: 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.menu-initialized {
  position: relative;
  z-index: 10
}

.menu-initialized .animated {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms
}
@media (min-width: 768px){
  .mx-gutters-md-1>.col, .mx-gutters-md-1>[class*=col-] {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}


.menu, .hb-mega-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  margin-top: -.002rem;
  background-color: #fff;
  opacity: 1 !important
}

@media (max-width: 767.98px) {
  .menu, .hb-mega-menu {
    position: inherit;
  }
}

.space-1, .space-top-1 {
  padding-top: 2rem !important
}

.space-1, .space-bottom-1 {
  padding-bottom: 2rem !important
}

.space-2, .space-top-2 {
  padding-top: 3.25rem !important
}

.space-2, .space-bottom-2 {
  padding-bottom: 3.25rem !important
}

.space-3, .space-top-3 {
  padding-top: 4.5rem !important
}

.space-3, .space-bottom-3 {
  padding-bottom: 4.5rem !important
}

@media (min-width: 576px) {
  //.modal-sm{
  //  max-width: 330px !important;
  //}
  .space-sm-1, .space-top-sm-1 {
    padding-top: 2rem !important
  }
  .space-bottom-sm-1, .space-sm-1 {
    padding-bottom: 2rem !important
  }
  .space-sm-2, .space-top-sm-2 {
    padding-top: 3.25rem !important
  }
  .space-bottom-sm-2, .space-sm-2 {
    padding-bottom: 3.25rem !important
  }
  .space-sm-3, .space-top-sm-3 {
    padding-top: 4.5rem !important
  }
  .space-bottom-sm-3, .space-sm-3 {
    padding-bottom: 4.5rem !important
  }
}

@media (min-width: 768px) {
  .space-md-1, .space-top-md-1 {
    padding-top: 2rem !important
  }
  .space-bottom-md-1, .space-md-1 {
    padding-bottom: 2rem !important
  }
  .space-md-2, .space-top-md-2 {
    padding-top: 3.25rem !important
  }
  .space-bottom-md-2, .space-md-2 {
    padding-bottom: 3.25rem !important
  }
  .space-md-3, .space-top-md-3 {
    padding-top: 4.5rem !important
  }
  .space-bottom-md-3, .space-md-3 {
    padding-bottom: 4.5rem !important
  }
}

@media (min-width: 992px) {
  .space-lg-1, .space-top-lg-1 {
    padding-top: 2rem !important
  }
  .space-bottom-lg-1, .space-lg-1 {
    padding-bottom: 2rem !important
  }
  .space-lg-2, .space-top-lg-2 {
    padding-top: 3.25rem !important
  }
  .space-bottom-lg-2, .space-lg-2 {
    padding-bottom: 3.25rem !important
  }
  .space-lg-3, .space-top-lg-3 {
    padding-top: 4.5rem !important
  }
  .space-bottom-lg-3, .space-lg-3 {
    padding-bottom: 4.5rem !important
  }
}

@media (min-width: 1200px) {
  .space-top-xl-1, .space-xl-1 {
    padding-top: 2rem !important
  }
  .space-bottom-xl-1, .space-xl-1 {
    padding-bottom: 2rem !important
  }
  .space-top-xl-2, .space-xl-2 {
    padding-top: 3.25rem !important
  }
  .space-bottom-xl-2, .space-xl-2 {
    padding-bottom: 3.25rem !important
  }
  .space-top-xl-3, .space-xl-3 {
    padding-top: 4.5rem !important
  }
  .space-bottom-xl-3, .space-xl-3 {
    padding-bottom: 4.5rem !important
  }
}

.fa, .fas {
  font-weight: 900
}

::-moz-selection {
  color: #fff;
  background-color: #135BEB
}

::selection {
  color: #fff;
  background-color: #135BEB
}

.bg-primary ::-moz-selection {
  color: #135BEB;
  background-color: #fff
}

.bg-primary ::selection {
  color: #135BEB;
  background-color: #fff
}

:focus, a:focus, button:focus {
  outline: 0
}

.btn.focus, .btn:focus, .btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not([disabled]):not(.disabled).active, .btn:not([disabled]):not(.disabled):active, .custom-control-input:active ~ .custom-control-label:before, .custom-control-input:checked ~ .custom-control-label:before, .custom-control-input:focus ~ .custom-control-label:before, .custom-file-input:focus ~ .custom-file-label, .custom-select:focus, .form-control:focus, .page-btn:focus, .show > .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 transparent
}


@media print {
  .btn, footer, header {
    display: none
  }
}

.list-group {
  list-style: none
}

.list-group .list-group {
  margin-left: 1rem
}

.list-group .list-group-item {
  font-size: .71094rem
}

.list-group .list-group-icon {
  min-width: .8125rem;
  max-width: .8125rem;
  color: #6c757e;
  text-align: center;
  margin-right: .5rem
}

.list-group .active > .list-group-item {
  color: #135BEB
}

.list-group .active > .list-group-text {
  color: #fff
}

.list-group .disabled .u-icon {
  color: #6c757e;
  background-color: hsla(210, 8%, 46%, .1)
}

.hb-header {
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1001
}

.header-navbar-collapse {
  padding-top: 0;
  padding-bottom: 0
}

.hb-header .active > .header-nav-link {
  color: #135BEB
}

.header-nav-link {
  color: #6c757e
}

.nav-link-toggle {
  position: relative
}

.nav-link-toggle:after {
  display: inline-block;
  font-family: Font Awesome\ 5 Pro;
  font-size: 65%;
  font-weight: 900;
  content: "\f107";
  margin-left: .5rem;
  transition: .3s ease
}

.hb-header-sub-menu {
  width: 100%
}

.hb-header-sub-menu {
  padding-left: 0;
  list-style: none
}

.hb-header-sub-menu-nav-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: .75156rem;
  color: #6c757e
}

.hb-header-sub-menu-nav-link-toggle {
  position: relative
}

.hb-header-sub-menu-nav-link-toggle:after {
  display: inline-block;
  font-family: Font Awesome\ 5 Pro;
  font-size: 80%;
  font-weight: 900;
  content: "\f105";
  margin-left: auto;
  margin-right: .04rem;
  transition: .3s ease
}

.hb-header-sub-menu .active > .hb-header-sub-menu-nav-link {
  color: #135BEB
}

.hb-header--invisible {
  display: none
}
.hb-header--faded {
  opacity: 0;
  visibility: hidden
}
.hb-header[data-header-fix-effect] {
  transition: .3s ease
}

.navbar-expand {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.navbar-expand .header-navbar {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0
}

.navbar-expand .header-navbar .header-nav-link {
  padding: .8rem 1rem
}

.navbar-expand .header-navbar .hb-header-sub-menu {
  border-top: .1875rem solid #135BEB;
  border-bottom-right-radius: .35rem;
  border-bottom-left-radius: .35rem;
  box-shadow: 0 8px 20px rgba(52, 152, 219, .075)
}

.navbar-expand .header-navbar .hb-header-sub-menu-nav-link {
  padding-right: 1.75rem;
  padding-left: 1.75rem
}


.navbar-expand .header-navbar .hb-header-sub-menu.menu {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.navbar-expand .header-navbar .hb-header-sub-menu .has-menu {
  padding: 0
}

.navbar-expand .header-navbar .hb-header-sub-menu .has-menu .hb-header-sub-menu {
  margin-top: -1.1875rem
}

.navbar-expand .hb-header__mega-menu-position-right-fix.hs-mega-menu.hs-position-right {
  right: 20%
}
@media (min-width: 992px){
  .navbar-nav {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .navbar-expand-md .header-navbar {
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0
  }
  .navbar-expand-md .header-navbar .header-nav-link {
    padding: .8rem 1rem
  }
  .navbar-expand-md .header-navbar .hb-header-sub-menu {
    border-top: .1875rem solid #135BEB;
    border-bottom-right-radius: .35rem;
    border-bottom-left-radius: .35rem;
    box-shadow: 0 8px 20px rgba(52, 152, 219, .075)
  }
  .navbar-expand-md .header-navbar .hb-header-sub-menu-nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem
  }
  .navbar-expand-md .header-navbar .hb-header-sub-menu.menu {
    padding-top: 1rem;
    padding-bottom: 1rem
  }
  .navbar-expand-md .header-navbar .hb-header-sub-menu .has-menu {
    padding: 0
  }
  .navbar-expand-md .header-navbar .hb-header-sub-menu .has-menu .hb-header-sub-menu {
    margin-top: -1.1875rem
  }
  .navbar-expand-md .hb-header__mega-menu-position-right-fix.hs-mega-menu.hs-position-right {
    right: 20%
  }
  .navbar-expand-md .hb-header__mega-menu-wrapper {
    padding: 2.5rem;
    margin-left: 0;
    margin-right: 0
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md .header-nav-link, .navbar-expand-md .hb-header-sub-menu-nav-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
  }
  .navbar-expand-md .nav-link-toggle:after, .navbar-expand-md .hb-header-sub-menu-nav-link-toggle:after {
    margin-left: auto
  }
  .navbar-expand-md .hb-header-sub-menu-nav-link-toggle:after {
    transform: rotate(90deg)
  }
  .navbar-expand-md .menu-opened .nav-link-toggle:after {
    transform: rotate(-180deg)
  }
  .navbar-expand-md .menu-opened > .hb-header-sub-menu-nav-link-toggle:after {
    transform: rotate(270deg)
  }
  .navbar-expand-md .hb-header__mega-menu-wrapper {
    padding-top: .5rem;
    padding-bottom: .5rem
  }
  .navbar-expand-md .hb-header-sub-menu {
    min-width: 100% !important
  }
  .navbar-expand-md .hb-header-sub-menu--spacer {
    padding-left: 1.5rem
  }
  .navbar-expand-md .hb-header-sub-menu:not(.hb-header__promo) {
    border-left: .1875rem solid #135BEB
  }
  .navbar-expand-md .hb-header-sub-menu .hb-header-sub-menu {
    padding-left: 1.5rem
  }
  .navbar-expand-md .hb-header-sub-menu .has-menu {
    padding-left: 1.5rem;
    padding-top: 0;
    padding-bottom: 0
  }
  .navbar-expand-md .hb-header-sub-menu .has-menu .menu {
    animation: none
  }
  .navbar-expand-md .hb-header-center-aligned-nav__col-last-item {
    display: none
  }
}
.navbar-expand .header-nav-link, .navbar-expand .hb-header-sub-menu-nav-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.navbar-expand .nav-link-toggle:after, .navbar-expand .hb-header-sub-menu-nav-link-toggle:after {
  margin-left: auto
}

.navbar-expand .hb-header-sub-menu-nav-link-toggle:after {
  transform: rotate(90deg)
}

.navbar-expand .hs-mega-menu-opened .nav-link-toggle:after, .navbar-expand .menu-opened .nav-link-toggle:after {
  transform: rotate(-180deg)
}

.navbar-expand .menu-opened > .hb-header-sub-menu-nav-link-toggle:after {
  transform: rotate(-90deg)
}

.navbar-expand .hb-header__mega-menu-wrapper {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.navbar-expand .hb-header-sub-menu {
  min-width: 100% !important
}

.navbar-expand .hb-header-sub-menu--spacer {
  padding-left: 1.5rem
}

.navbar-expand .hb-header-sub-menu:not(.hb-header__promo) {
  border-left: .1875rem solid #135BEB
}

.navbar-expand .hb-header-sub-menu .hb-header-sub-menu {
  padding-left: 1.5rem
}

.navbar-expand .hb-header-sub-menu-title {
  padding-left: 1.5rem;
  margin-bottom: 0
}


.navbar-expand .hb-header-sub-menu .has-menu {
  padding-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0
}

.navbar-expand .hb-header-sub-menu .has-menu .menu {
  animation: none
}

.navbar-expand .hb-header-center-aligned-nav__col-last-item {
  display: none
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .hb-header .hb-header__mega-menu-position-right-fix--md.hs-mega-menu.hs-position-right {
    right: 20%
  }
}

@media (min-width: 992px) {
  [class*=navbar-expand]:not(.navbar-expand-xl) {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}

.alert-text {
  color: inherit
}

.u-xs-avatar {
  width: 1.11719rem;
  height: 1.11719rem
}

[class*=badge-] {
  z-index: 3
}

.badge:empty {
  display: inherit
}

.u-ver-divider:after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #e7eaf3;
  content: "";
}
[class*=badge-outline] {
  border-style: solid;
  border-width: .10156rem;
  box-shadow: 0 3px 6px 0 rgba(140, 152, 164, .25)
}

.btn-primary[href]:active, .btn-primary[href]:focus, .btn-primary[href]:hover, .btn-primary[type]:active, .btn-primary[type]:focus, .btn-primary[type]:hover {
  box-shadow: 0 4px 11px rgba(52, 152, 219, .35)
}

.btn-primary:not([href]), .btn-primary:not([href]):not([href]):not(:disabled):not(.disabled) {
  background-color: #135BEB;
  border-color: #135BEB
}

.btn-secondary[href]:active, .btn-secondary[href]:focus, .btn-secondary[href]:hover, .btn-secondary[type]:active, .btn-secondary[type]:focus, .btn-secondary[type]:hover {
  box-shadow: 0 4px 11px rgba(119, 131, 143, .35)
}

.btn-secondary:not([href]), .btn-secondary:not([href]):not([href]):not(:disabled):not(.disabled) {
  background-color: #77838f;
  border-color: #77838f
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff !important;
  border-color: #5f6a74 !important;
  background-color: #5f6a74 !important;
}

.btn-success[href]:active, .btn-success[href]:focus, .btn-success[href]:hover, .btn-success[type]:active, .btn-success[type]:focus, .btn-success[type]:hover {
  box-shadow: 0 4px 11px rgba(0, 201, 167, .35)
}

.btn-success:not([href]), .btn-success:not([href]):not([href]):not(:disabled):not(.disabled) {
  background-color: #00c9a7;
  border-color: #00c9a7
}

.btn-soft-primary {
  color: #135BEB;
  background: rgba(52, 152, 219, .1);
  border-color: transparent
}

.btn-soft-primary[href].active, .btn-soft-primary[href]:active, .btn-soft-primary[href]:focus, .btn-soft-primary[href]:hover, .btn-soft-primary[type].active, .btn-soft-primary[type]:active, .btn-soft-primary[type]:focus, .btn-soft-primary[type]:hover {
  color: #fff;
  background: #135BEB;
  box-shadow: 0 4px 11px rgba(52, 152, 219, .35)
}

.btn-soft-primary[href].disabled, .btn-soft-primary[href]:disabled, .btn-soft-primary[type].disabled, .btn-soft-primary[type]:disabled {
  color: #135BEB;
  background-color: rgba(52, 152, 219, .1);
  box-shadow: none
}

.btn-soft-secondary {
  color: #77838f;
  background: rgba(119, 131, 143, .1);
  border-color: transparent
}

.btn-soft-secondary[href].active, .btn-soft-secondary[href]:active, .btn-soft-secondary[href]:focus, .btn-soft-secondary[href]:hover, .btn-soft-secondary[type].active, .btn-soft-secondary[type]:active, .btn-soft-secondary[type]:focus, .btn-soft-secondary[type]:hover {
  color: #fff;
  background: #77838f;
  box-shadow: 0 4px 11px rgba(119, 131, 143, .35)
}

.btn-soft-secondary[href].disabled, .btn-soft-secondary[href]:disabled, .btn-soft-secondary[type].disabled, .btn-soft-secondary[type]:disabled {
  color: #77838f;
  background-color: rgba(119, 131, 143, .1);
  box-shadow: none
}

.btn-soft-success {
  color: #00c9a7;
  background: rgba(0, 201, 167, .1);
  border-color: transparent
}

.btn-soft-success[href].active, .btn-soft-success[href]:active, .btn-soft-success[href]:focus, .btn-soft-success[href]:hover, .btn-soft-success[type].active, .btn-soft-success[type]:active, .btn-soft-success[type]:focus, .btn-soft-success[type]:hover {
  color: #fff;
  background: #00c9a7;
  box-shadow: 0 4px 11px rgba(0, 201, 167, .35)
}

.btn-soft-success[href].disabled, .btn-soft-success[href]:disabled, .btn-soft-success[type].disabled, .btn-soft-success[type]:disabled {
  color: #00c9a7;
  background-color: rgba(0, 201, 167, .1);
  box-shadow: none
}

.btn-soft-info {
  color: #135BEB;
  background: rgba(52, 152, 219, .1);
  border-color: transparent
}

.btn-soft-info[href].active, .btn-soft-info[href]:active, .btn-soft-info[href]:focus, .btn-soft-info[href]:hover, .btn-soft-info[type].active, .btn-soft-info[type]:active, .btn-soft-info[type]:focus, .btn-soft-info[type]:hover {
  color: #fff;
  background: #135BEB;
  box-shadow: 0 4px 11px rgba(52, 152, 219, .35)
}

.btn-soft-info[href].disabled, .btn-soft-info[href]:disabled, .btn-soft-info[type].disabled, .btn-soft-info[type]:disabled {
  color: #135BEB;
  background-color: rgba(52, 152, 219, .1);
  box-shadow: none
}
.btn-soft-light {
  color: #f8f9fa;
  background: rgba(248, 249, 250, .1);
  border-color: transparent
}

.btn-soft-light[href].active, .btn-soft-light[href]:active, .btn-soft-light[href]:focus, .btn-soft-light[href]:hover, .btn-soft-light[type].active, .btn-soft-light[type]:active, .btn-soft-light[type]:focus, .btn-soft-light[type]:hover {
  color: #12161c;
  background: #f8f9fa;
  box-shadow: 0 4px 11px rgba(248, 249, 250, .35)
}

.btn-soft-light[href].disabled, .btn-soft-light[href]:disabled, .btn-soft-light[type].disabled, .btn-soft-light[type]:disabled {
  color: #f8f9fa;
  background-color: rgba(248, 249, 250, .1);
  box-shadow: none
}
.btn-wide {
  min-width: 7.87109rem
}
.btn-xs {
  font-size: .72rem;
  font-weight: 400;
  padding: .3rem .6rem
}

.btn-icon.btn-xs {
  font-size: .60938rem;
  width: 1.21875rem;
  height: 1.21875rem
}

.btn[href] {
  cursor: pointer
}

.btn:not([href]):not([type]):not(:disabled):not(.disabled) {
  cursor: default
}

.btn-pill {
  border-radius: 6.1875rem
}

.btn-icon {
  position: relative;
  line-height: 0;
  font-size: .8125rem;
  width: 2.53906rem;
  height: 2.53906rem;
  padding: 0
}

.btn-icon__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


[class*=btn-soft-].btn-bg-transparent {
  background-color: transparent
}

.brand {
  font-size: 2rem;
  font-weight: 600;
  margin-left: .5rem
}

.card-collapse {
  padding: 0;
  transition: .3s ease-in-out
}

.card-collapse:hover {
  background-color: #f8fafd
}

.card-collapse .card-body {
  color: #6c757e
}

.card-btn {
  color: #1e2022;
  text-align: left;
  white-space: inherit
}

.card-btn-arrow {
  display: inline-block;
  color: #135BEB;
  margin-left: 1rem;
  transition: .3s ease-in-out
}

.collapsed .card-btn-arrow {
  transform: rotate(-90deg)
}


.dropdown-menu {
  margin-top: .5rem;
  font-size: .71094rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 7px rgba(52, 152, 219, .05), 0 0 10px hsla(210, 8%, 46%, .1)
}
.dropdown-nav-link {
  color: #6c757e;
  font-weight: 300;
  font-size: .71094rem
}

.dropdown-nav-link:hover {
  color: #1e2022
}

.dropdown-item {
  font-size: .71094rem
}

.dropdown-item.active, .dropdown-item:hover {
  color: #135BEB
}

.dropdown-toggle:after {
  display: inline-block;
  font-family: Font Awesome\ 5 Pro;
  font-size: 80%;
  font-weight: 900;
  content: "\f107";
  margin-left: .5rem
}

.dropdown-menu-right {
  right: 0;
  left: auto !important
}

.dropdown-menu-bottom {
  top: auto;
  bottom: 0
}

@media (min-width: 576px) {
  .dropdown-menu-sm-right {
    right: 0;
    left: auto !important
  }
}

.el-tooltip__popper{
  max-width: 80%;
}
.value-format{
  .el-button{
    word-break: break-word;
    white-space: normal;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-right {
    right: 0;
    left: auto !important
  }
  .el-tooltip__popper{
    width: auto;
  }
}

.custom-select:focus, .form-control:focus {
  box-shadow: 0 0 25px rgba(52, 152, 219, .1);
  border-color: rgba(52, 152, 219, .5)
}

.form-label {
  display: block;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 500
}

.form-control:first-child {
  padding-left: 1.5rem
}

.input-group .input-group-append > .input-group-text, .input-group .input-group-prepend > .input-group-text {
  font-size: .71094rem
}

.form-control-xs {
  height: calc(1.45313rem + 1px);
  font-size: .60938rem;
  line-height: 1.4
}

.input-group-sm .input-group-append > .input-group-text, .input-group-sm .input-group-prepend > .input-group-text {
  font-size: .60938rem
}

.u-has-success .custom-select, .u-has-success .form-control:first-child:last-child, .u-has-success .form-label + .form-control, .u-has-success .input-group {
  box-shadow: 0 0 25px rgba(0, 201, 167, .1)
}

.u-has-success .input-group-text {
  color: #00c9a7
}

.u-has-success .custom-select, .u-has-success .form-control, .u-has-success .input-group-text, .u-has-success:focus, .u-has-success :focus {
  border-color: rgba(0, 201, 167, .5)
}

.u-has-error .custom-select, .u-has-error .form-control:first-child:last-child, .u-has-error .form-label + .form-control, .u-has-error .input-group {
  box-shadow: 0 0 25px rgba(222, 68, 55, .1)
}

.u-has-error .input-group-text {
  color: #de4437 !important
}

.u-has-error .custom-select, .u-has-error .form-control, .u-has-error .input-group-text, .u-has-error:focus, .u-has-error :focus {
  border-color: rgba(222, 68, 55, .5) !important
}

.hb-hamburger {
  font-size: inherit;
  line-height: 0;
  padding: .25rem
}

.hb-hamburger:hover .hb-hamburger__inner, .hb-hamburger:hover .hb-hamburger__inner:after, .hb-hamburger:hover .hb-hamburger__inner:before {
  background-color: #135BEB
}

.hb-hamburger__box {
  width: 1.26953rem;
  height: .875rem;
  display: inline-block;
  position: relative
}

.hb-hamburger__inner {
  display: block;
  top: .0625rem;
  margin: top, -.0625rem
}

.hb-hamburger__inner, .hb-hamburger__inner:after, .hb-hamburger__inner:before {
  width: 1.26953rem;
  height: .125rem;
  background-color: #8c98a4;
  position: absolute;
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: ease
}

.hb-hamburger__inner:after, .hb-hamburger__inner:before {
  content: "";
  display: block
}

.hb-hamburger__inner:before {
  top: .375rem;
  transition-property: transform, opacity;
  transition-duration: .3s;
  transition-timing-function: ease
}

.hb-hamburger__inner:after {
  top: .75rem
}

.hb-hamburger .is-active .hb-hamburger__inner, .hb-hamburger[aria-expanded=true] .hb-hamburger__inner {
  transform: translate3d(0, .375rem, 0) rotate(45deg)
}

.hb-hamburger .is-active .hb-hamburger__inner:before, .hb-hamburger[aria-expanded=true] .hb-hamburger__inner:before {
  transform: rotate(-45deg) translate3d(-.18136rem, -.25rem, 0);
  opacity: 0
}

.hb-hamburger .is-active .hb-hamburger__inner:after, .hb-hamburger[aria-expanded=true] .hb-hamburger__inner:after {
  transform: translate3d(0, -.75rem, 0) rotate(-90deg)
}

.hb-hamburger--white .hb-hamburger__inner, .hb-hamburger--white .hb-hamburger__inner:after, .hb-hamburger--white .hb-hamburger__inner:before {
  background-color: hsla(0, 0%, 100%, .8)
}

.hb-hamburger--white:hover .hb-hamburger__inner, .hb-hamburger--white:hover .hb-hamburger__inner:after, .hb-hamburger--white:hover .hb-hamburger__inner:before {
  background-color: #fff
}
.u-label {
  display: inline-block;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1.3;
  padding: .625rem 1.125rem;
  border-radius: 6.1875rem;
  transition: .2s ease-in-out
}

.u-label--rounded {
  border-radius: .35rem
}

.u-label--xs {
  font-weight: 300;
  font-size: .60938rem;
  line-height: 1.7;
  padding: .2rem .5rem
}

.u-label--sm {
  font-size: .71094rem;
  padding: .4rem .7rem
}

.u-label--primary {
  color: #135BEB;
  background-color: rgba(52, 152, 219, .1)
}

.u-label--primary[href]:focus, .u-label--primary[href]:hover {
  color: #fff;
  background-color: #135BEB
}

.u-label--primary[type=button] {
  border: 0;
  cursor: pointer
}

.u-label--primary[type=button]:focus, .u-label--primary[type=button]:hover {
  color: #fff;
  background-color: #135BEB
}

.u-label--secondary {
  color: #77838f;
  background-color: rgba(119, 131, 143, .1)
}

.u-label--secondary[href]:focus, .u-label--secondary[href]:hover {
  color: #fff;
  background-color: #77838f
}

.u-label--secondary[type=button] {
  border: 0;
  cursor: pointer
}

.u-label--secondary[type=button]:focus, .u-label--secondary[type=button]:hover {
  color: #fff;
  background-color: #77838f
}

.u-label--success {
  color: #00c9a7;
  background-color: rgba(0, 201, 167, .1)
}

.u-label--success[href]:focus, .u-label--success[href]:hover {
  color: #fff;
  background-color: #00c9a7
}

.u-label--success[type=button] {
  border: 0;
  cursor: pointer
}

.u-label--success[type=button]:focus, .u-label--success[type=button]:hover {
  color: #fff;
  background-color: #00c9a7
}

.u-label--warning {
  color: #db9a04;
  background-color: rgba(219, 154, 4, .1)
}

.u-label--warning[href]:focus, .u-label--warning[href]:hover {
  color: #fff;
  background-color: #db9a04
}

.u-label--warning[type=button] {
  border: 0;
  cursor: pointer
}

.u-label--warning[type=button]:focus, .u-label--warning[type=button]:hover {
  color: #fff;
  background-color: #db9a04
}

.u-label--danger {
  color: #de4437;
  background-color: rgba(222, 68, 55, .1)
}

.u-label--danger[href]:focus, .u-label--danger[href]:hover {
  color: #fff;
  background-color: #de4437
}

.u-label--danger[type=button] {
  border: 0;
  cursor: pointer
}

.u-label--danger[type=button]:focus, .u-label--danger[type=button]:hover {
  color: #fff;
  background-color: #de4437
}

.page-btn {
  text-align: center;
  min-width: 2.25rem
}

.page-item {
  margin-left: .15rem;
  margin-right: .15rem
}

.page-item .page-btn {
  border-top-left-radius: .35rem;
  border-bottom-left-radius: .35rem;
  border-top-right-radius: .35rem;
  border-bottom-right-radius: .35rem
}

.ether-search {
  border: 1px solid transparent;
  transition: all .1s
}

.ether-search.active,.ether-search:hover {
  background-color: #f8fafd;
  border-color: #e7eaf3;
  cursor: pointer
}

.ui-menu-item-text {
  color: #1e2022
}
.max-width-5{
  max-width: 300px ;
}
.w-100 {
  width: 100%!important;
}
.mb-1, .my-1 {
  margin-bottom: .25rem!important;
}

@media (min-width: 768px){
  .w-md-75 {
    width: 75%!important;
  }
  .mr-md-auto, .mx-md-auto {
    margin-right: auto!important;
  }
  .mb-md-0, .my-md-0 {
    margin-bottom: 0!important;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (min-width: 992px){
  .w-lg-50 {
    width: 50%!important;
  }
  .w-lg-55 {
    width: 55%!important;
  }
}

.nav-borderless {
  border-color: transparent
}
.nav .nav-item:not(:first-child) {
  margin-left: .25rem
}

.nav .nav-item:not(:last-child) {
  margin-right: .25rem
}

.nav-icon .nav-item {
  color: #6c757e
}

.nav-icon .nav-item.active {
  color: #135BEB
}

.nav-white .nav-link {
  color: hsla(0, 0%, 100%, .7)
}

.nav-white .nav-link.active {
  color: #135BEB;
  background-color: #fff
}

.nav-white .nav-link:not(.active):hover {
  color: #fff
}

.nav-box .nav-link {
  color: #1e2022;
  border: 1px solid transparent;
  border-radius: .35rem
}

.nav-box .nav-link.active {
  color: #135BEB;
  background-color: #fff
}

.nav-box .nav-link.active, .nav-box .nav-link:hover {
  border-color: #e7eaf3;
  box-shadow: 0 0 35px rgba(140, 152, 164, .125)
}
[class*=sticky-block] {
  max-width: 100%
}
.link, .link__icon {
  display: inline-block
}

.overflow-hidden {
  overflow: hidden
}

.font-size-1 {
  font-size: .71094rem !important
}

.font-size-3 {
  font-size: 13px !important
}

.font-size-2 {
  font-size: 1.21875rem
}

.font-weight-medium {
  font-weight: 500 !important
}

.font-weight-semi-bold {
  font-weight: 600 !important
}

.text-white-70 {
  color: hsla(0, 0%, 100%, .7)
}

.text-white-70[href]:hover {
  color: #fff
}

.transition-3d-hover {
  transition: all .2s ease-in-out
}

.transition-3d-hover:focus, .transition-3d-hover:hover {
  transform: translateY(-3px)
}

@keyframes d {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}

.fadeInUp {
  animation-name: d
}

@keyframes e {
  0% {
    transform: translate3d(0, 10px, 0);
    visibility: visible
  }
  to {
    transform: translateZ(0)
  }
}

.slideInUp {
  animation-name: e
}


[data-lazy] {
  opacity: 0;
  transition: opacity .3s ease-in-out
}

.typed-cursor {
  opacity: 1;
  animation: f .7s infinite
}

@keyframes f {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1400px) {
  .container {
    max-width: 1270px
  }
}

.h4, .h5, .h6, h4, h5, h6 {
  font-weight: 400
}

.h1:not(.alert-heading), .h2:not(.alert-heading), .h3:not(.alert-heading), .h4:not(.alert-heading), .h5:not(.alert-heading), .h6:not(.alert-heading), h1:not(.alert-heading), h2:not(.alert-heading), h3:not(.alert-heading), h4:not(.alert-heading), h5:not(.alert-heading), h6:not(.alert-heading) {
  color: #4a4f55
}

.heading-border {
  position: relative;
  padding-bottom: .5rem
}

.heading-border:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(231, 234, 243, .2)
}

.search-result-title {
  font-size: 1.125rem
}

.text-size-1 {
  font-size: .9375rem
}

.font-size-base {
  font-size: .8125rem !important
}

.text-size-address {
  font-size: 80%
}

@media (max-width: 991.98px) {
  .text-size-address {
    font-size: 73%
  }
}

@media (max-width: 767.98px) {
  .text-size-address {
    font-size: 67%
  }
}

@media (min-width: 576px) {
  .font-weight-sm-normal {
    font-weight: 400 !important
  }
  .font-weight-sm-bold {
    font-weight: 700 !important
  }
}

pre {
  padding: .75rem;
  border: 1px solid #e7eaf3;
  background-color: #f8f9fa;
  border-radius: .35rem;
  margin-bottom: .5rem
}


@media (min-width: 768px) {
  .header-nav-separator {
    border-left: 1px solid #e7eaf3;
    width: 1px;
    height: 20px
  }
  .navbar-expand-md .hb-header__nav-lang .header-nav-link {
    padding-right: 0;
    padding-left: 0
  }
}

@media (min-width: 768px) {
  .nav-link-toggle--mobile:after {
    display: none
  }
}

.alert-dark {
  color: #3e444a;
  background-color: rgba(119, 131, 143, .2)
}
.alert-danger {
  color:#73231d;
  background-color:#f8dad7;
  border-color:#f6cbc7
}

.table {
  margin-bottom: .25rem
}

.table td, .table th {
  white-space: nowrap
}

.table-md th {
  padding: .75rem
}

.table-md td {
  padding: 1rem .75rem
}


.table-hover tbody .tr-nonhover:hover {
  background-color: transparent
}

.card {
  box-shadow: 0 .5rem 1.2rem rgba(189, 197, 209, .2)
}

.card-header-title {
  color: #4a4f55;
  font-size: .8125rem;
  font-weight: 600;
  margin-bottom: 0
}
.collapsed .card-btn-arrow--up {
  transform: rotate(-180deg)
}

.card-arrow-more, .collapsed .card-arrow-less {
  display: none
}

.card-arrow-less, .collapsed .card-arrow-more {
  display: inline-block
}

.nav-custom .nav-link {
  color: rgba(74, 79, 85, .8);
  font-size: .8125rem;
  font-weight: 600;
  padding: .75rem;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  transition: .3s;
  margin-bottom: -1px;
  margin-top: -1px
}

.nav-custom .nav-link:hover {
  color: #135BEB
}

.nav-custom .nav-link.active {
  border-bottom-color: #135BEB;
  color: #135BEB
}

.nav .nav-item {
  margin-right: .25rem;
  margin-left: .25rem
}

.nav .nav-item:first-child {
  margin-left: 0
}

.nav-pills-secondary .nav-item {
  margin-bottom: .25rem
}

.nav-pills-secondary .nav-link {
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: 1px solid #d5dae2;
  color: #77838f
}

.nav-pills-secondary .nav-link:hover {
  color: #135BEB
}

.nav-pills-secondary .nav-link.active, .nav-pills-secondary .show > .nav-link {
  background-color: #77838f;
  border-color: transparent
}

.nav-pills-secondary .nav-link.active:hover, .nav-pills-secondary .show > .nav-link:hover {
  color: #fff
}

@media (max-width: 767.98px) {
  .nav-classic-sm-down .nav-link {
    padding: .8rem .4rem
  }
}

.nav-page .nav-link {
  border-top-width: 2px;
  border-top-color: transparent
}

.nav-page .nav-link.active {
  border-top-color: #135BEB
}
.search-type-reset[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.input-group-shadow {
  box-shadow: 0 .5rem 1.2rem rgba(189, 197, 209, .2)
}


.form-control-sm {
  font-size: .8125rem;
  padding-left: .75rem;
  padding-right: .75rem
}

.form-control-xs {
  border-radius: .25rem;
  height: calc(1.905rem + 2px);
  padding: .3rem .6rem;
  font-size: 95%
}

.form-control-xss {
  height: calc(1.5rem + 2px);
  padding: .2rem .4rem;
  font-size: 95%;
  border-radius: .25rem
}
.custom-select {
  display: inline-block;
  width: 100%;
  color: #1e2022;
  vertical-align: middle;
  border: 1px solid #d5dae2;
  border-radius: .35rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-select-xs {
  height: calc(1.75rem + 2px);
  padding: .375rem;
  padding-right: 1.15rem;
  font-size: 80%;
  background-position: right .375rem center;
  background-size: 7px 8px
}

.custom-select-xs.custom-select {
  width: auto
}

.custom-select-xs--btn {
  height: calc(1.8rem + 2px);
  padding-top: .35rem;
  border-radius: .25rem
}

.custom-select-xs-alt {
  height: calc(1.905rem + 2px);
  padding: .3rem .6rem;
  padding-right: 1.3rem;
  background-position: right .6rem center;
  background-size: 8px 8px;
  font-size: 95%;
  border-radius: .25rem
}

.custom-select-sm {
  padding-top: .58rem;
  padding-bottom: .65rem;
  border-radius: .25rem
}

.custom-select-sm--alt {
  padding-left: .75rem
}

.custom-arrow-select {
  background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 151.717'%3E%3Cpath d='M115.285 147.693L4.025 36.433a13.739 13.739 0 0 1 0-19.431L17.002 4.025a13.74 13.74 0 0 1 19.408-.023l88.591 88.176 88.59-88.176a13.74 13.74 0 0 1 19.408.023l12.977 12.981a13.739 13.739 0 0 1 0 19.431l-111.26 111.256a13.741 13.741 0 0 1-19.432 0z' fill='%2377838f'/%3E%3C/svg%3E") no-repeat right 1rem center;
  background-size: 8px 15px
}

.custom-arrow-select:focus {
  border-color: #d5dae2
}

.input-group-sm .custom-arrow-select {
  padding-left: .6rem !important;
  padding-right: 2rem !important
}

.input-group-sm > .form-control {
  padding-left: .65rem;
  padding-right: .65rem;
  font-size: .8125rem
}

.btn-group-sm > .btn, .btn-sm {
  font-size: .71094rem
}
.btn-group-sm>.btn-icon.btn, .btn-icon.btn-sm {
  font-size: .66422rem;
  width: 1.625rem;
  height: 1.625rem;
}

.btn-warning {
  color: #fff
}

.btn-custom {
  color: #1e2022;
  font-size: .8125rem;
  border: 1px solid #d5dae2;
  background-color: transparent
}

.btn-custom-toggle {
  width: 100%;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  text-align: left
}

.btn-custom-toggle.dropdown-toggle:after {
  position: absolute;
  right: 1.125rem;
  top: 50%;
  transform: translateY(-50%);
  color: #77838f
}

.btn-xs.btn-form-control {
  font-size: 95%
}

.btn-xs, .btn-xss {
  border-radius: .25rem
}

.btn-xss {
  font-size: .60938rem;
  padding: .3rem .6rem
}

.dropdown-balance {
  min-width: 262px
}

@media (min-width: 576px) {
  .dropdown-balance {
    min-width: 348px
  }
}

@media (min-width: 412px) {
  .dropdown-menu-sm-down-right {
    right: 0;
    left: auto !important
  }
}

@media (min-width: 992px) {
  .dropdown-menu-lg-right {
    right: 0;
    left: auto !important
  }
}

.dropdown-toggle-change.active:after, .dropup .dropdown-toggle:after {
  content: "\f106"
}

.dropdown-toggle-icon--none:after {
  display: none
}

.img-grayscale {
  filter: grayscale(1)
}

.link-hover-secondary {
  color: #77838f
}

.link-hover-secondary:hover {
  color: #135BEB
}

.link-hover {
  color: #1e2022;
  padding: .25rem .5rem
}

.link-hover, .link-hover__item {
  transition: all .1s ease-in-out
}

.link-hover__item {
  color: #77838f;
  display: block
}

.link-hover:hover .link-hover__item {
  color: #fff
}

.link-hover:hover {
  color: #fff;
  background-color: #135BEB;
  border-radius: .25rem
}

.el-message {
  z-index: 999999 !important;
}

.u-label--xs {
  font-weight: 500
}

.u-label--price {
  background-color: rgba(119, 131, 143, .05);
  font-weight: 500;
  letter-spacing: .5px;
  font-size: .7rem;
  padding: .3rem .5rem
}

.u-label--value {
  font-size: .74094rem;
  padding: .3rem .5rem
}

.u-label--text-dark {
  color: #1e2022
}

.u-label--text-dark[type=button]:focus, .u-label--text-dark[type=button]:hover {
  color: #1e2022;
  background-color: rgba(119, 131, 143, .1)
}

.u-label--badge-out {
  position: relative;
  padding-right: .3rem;
  letter-spacing: .8px;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.u-label--badge-out:after {
  position: absolute;
  left: 100%;
  top: 0;
  content: "";
  border-top: .7rem solid transparent;
  border-bottom: .7rem solid transparent;
  border-left: .7rem solid rgba(119, 131, 143, .1);
  border-radius: .1rem
}

.u-label--badge-in {
  position: relative;
  padding-left: 1.15rem;
  letter-spacing: .8px;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

//.u-label--badge-in:after {
//  position: absolute;
//  left: 0;
//  top: 1px;
//  content: "";
//  border-top: .7rem solid transparent;
//  border-bottom: .7rem solid transparent;
//  border-left: .7rem solid #fff
//}

.u-label--sm.u-label--badge-in {
  padding-left: 1.35rem
}

//.u-label--sm.u-label--badge-in:after {
//  border-top: .8rem solid transparent;
//  border-bottom: .8rem solid transparent;
//  border-left: .8rem solid #fff
//}
.el-button+.el-button{
  margin-left: 0 !important;
}
.address{
  .el-button--text{
    color: #77838f;
  }
}
.badge-custom {
  font-size: 90%;
  font-weight: 400
}

.hash-tag {
  max-width: 150px;
  display: inline-block;
  vertical-align: bottom
}

.hash-tag--xss {
  max-width: 60px
}

.hash-tag--xs {
  max-width: 110px
}

.hash-tag--medium {
  max-width: 164px
}

.hash-tag--md {
  max-width: 185px
}

.hash-tag--lg {
  max-width: 255px
}

@media (min-width: 992px) {
  .hash-tag-lg--md {
    max-width: 170px
  }
}

@media (max-width: 575.98px) {
  .hash-tag-xs-down--md {
    max-width: 200px
  }
}

.custom-hash-tag {
  display: inline-block;
  vertical-align: bottom
}

@media (max-width: 767.98px) {
  .custom-hash-tag {
    max-width: 150px
  }
}

@media (min-width: 576px) {
  .custom-hash-tag {
    min-width: 230px
  }
}

@media (min-width: 992px) {
  .custom-hash-tag {
    max-width: 230px
  }
}

@media (min-width: 1200px) {
  .custom-hash-tag {
    max-width: 340px
  }
}

.pos-top-n1 {
  position: relative;
  top: -1px
}

.hr-space {
  margin-top: .75rem;
  margin-bottom: .75rem;
  opacity: .75
}


.bg-white-content {
  background-color: #fff
}

.bg-soft-secondary {
  background-color: rgba(119, 131, 143, .1)
}

.text-break {
  word-break: break-word !important;
  white-space: normal !important
}

.list-xs-space > li {
  margin-bottom: .4rem
}

.list-xs-space > li:last-child {
  margin-bottom: 0
}

.text-link {
  color: #1e2022
}

.text-link:hover {
  color: #135BEB
}

.link-text-muted {
  color: #8c98a4
}

.link-text-muted:hover {
  color: #135BEB
}

.link-secondary {
  color: #77838f
}

.link-secondary:hover {
  color: #135BEB
}

.cursor-pointer {
  cursor: pointer !important
}

.ml-n1 {
  margin-left: -.25rem
}

.bg-soft-secondary {
  background-color: rgba(119, 131, 143, .1) !important
}

.bg-soft-danger {
  background-color: rgba(222, 68, 55, .1) !important
}

.bg-soft-success {
  background-color: rgba(0, 201, 167, .1) !important
}

.bg-soft-warning {
  background-color: rgba(219, 154, 4, .1) !important
}

.color-strong {
  font-weight: 700
}

.color-strong.u-label--success {
  color: #02977e;
  background-color: rgba(0, 201, 167, .2)
}

.color-strong.u-label--warning {
  color: #b47d00;
  background-color: rgba(219, 154, 4, .2)
}

.color-strong.u-label--secondary {
  color: #626c76;
  background-color: rgba(119, 131, 143, .2)
}

.close.close-md {
  font-size: 1.5rem;
  font-weight: 400
}
.dropdown-unfold.u-unfold--css-animation, .dropdown-unfold.u-unfold--jquery-slide, .dropdown-unfold[aria-labelledby][role=tabpanel] {
  display: block;
  opacity: 1;
}
body .app-main {
  color: #c0d3df;
  background-color: #252525 !important
}

body .app-main .h1 > a, body .app-main .h2 > a, body .app-main .h3 > a, body .app-main .h4 > a, body .app-main .h5 > a, body .app-main .h6 > a, body .app-main h1 > a, body .app-main h2 > a, body .app-main h3 > a, body .app-main h4 > a, body .app-main h5 > a, body .app-main h6 > a {
  color: #e5ecf3
}

body .app-main .h1 > a:hover, body .app-main .h2 > a:hover, body .app-main .h3 > a:hover, body .app-main .h4 > a:hover, body .app-main .h5 > a:hover, body .app-main .h6 > a:hover, body .app-main h1 > a:hover, body .app-main h2 > a:hover, body .app-main h3 > a:hover, body .app-main h4 > a:hover, body .app-main h5 > a:hover, body .app-main h6 > a:hover {
  color: #1d6fa5
}

body .app-main .h1.text-white > a, body .app-main .h2.text-white > a, body .app-main .h3.text-white > a, body .app-main .h4.text-white > a, body .app-main .h5.text-white > a, body .app-main .h6.text-white > a, body .app-main h1.text-white > a, body .app-main h2.text-white > a, body .app-main h3.text-white > a, body .app-main h4.text-white > a, body .app-main h5.text-white > a, body .app-main h6.text-white > a {
  color: #fff
}

body .app-main p {
  color: #c0d3df
}

body .app-main .h1:not(.alert-heading), body .app-main .h2:not(.alert-heading), body .app-main .h3:not(.alert-heading), body .app-main .h4:not(.alert-heading), body .app-main .h5:not(.alert-heading), body .app-main .h6:not(.alert-heading), body .app-main h1:not(.alert-heading), body .app-main h2:not(.alert-heading), body .app-main h3:not(.alert-heading), body .app-main h4:not(.alert-heading), body .app-main h5:not(.alert-heading), body .app-main h6:not(.alert-heading) {
  color: #e5ecf3
}

body .app-main hr, body .app-main pre {
  border-color: #323232
}

body .app-main pre {
  color: #c0d3df;
  background: #252525
}

body .app-main .hs-mega-menu, body .app-main .menu{
  background-color: #212121;
  box-shadow: none
}

body .app-main .header-nav-link, body .app-main .hb-header-sub-menu-nav-link {
  color: #c0d3df
}

body .app-main .header-nav-link:hover:not(.hb-header-sub-menu-title), body .app-main .hb-header-sub-menu-nav-link:hover:not(.hb-header-sub-menu-title), body .app-main .hb-header-sub-menu-title:hover:not(.hb-header-sub-menu-title) {
  color: #135BEB
}

body .app-main .header-nav-separator {
  border-color: #323232
}

body .app-main .nav-custom .nav-link {
  color: #c0d3df
}

body .app-main .nav-custom .nav-link.active, body .app-main .nav-custom .nav-link:hover {
  color: #135BEB
}

body .app-main .nav-pills-secondary .nav-item {
  margin-bottom: .25rem
}

body .app-main .nav-pills-secondary .nav-link {
  border-color: #323232;
  color: #c0d3df
}

body .app-main .nav-pills-secondary .nav-link:hover {
  color: #135BEB
}

body .app-main .nav-pills-secondary .nav-link.active, body .app-main .nav-pills-secondary .show > .nav-link {
  background-color: rgba(52, 152, 219, .2)
}

body .app-main .nav-pills-secondary .nav-link.active:hover, body .app-main .nav-pills-secondary .show > .nav-link:hover {
  color: #c0d3df
}

body .app-main .nav-white .nav-link.active {
  background-color: rgba(52, 152, 219, .2)
}

body .app-main .close {
  color: rgba(192, 211, 223, .7);
  text-shadow: none
}

body .app-main .close:hover {
  color: #c0d3df !important
}

body .app-main .modal-content {
  background-color: #252525
}

body .app-main .modal-footer, body .app-main .modal-header {
  border-color: #323232
}

body .app-main .card {
  border-color: #323232 !important;
  background-color: #212121 !important;
  box-shadow: 0 .5rem 1.2rem hsla(0, 0%, 100%, .06)
}

body .app-main .card-header {
  background-color: #212121 !important;
  border-color: #323232
}

body .app-main .card-header-title {
  color: #c0d3df
}

body .app-main .card-footer {
  background-color: #212121 !important;
  border-color: #323232;
}

body .app-main .card-btn {
  color: #c0d3df
}

body .app-main .alert-text {
  color: #c0d3df !important
}

body .app-main .alert-info, body .app-main .alert-primary {
  color: #135BEB !important;
  background-color: rgba(52, 152, 219, .1) !important
}

body .app-main .alert-success {
  color: #00c9a7 !important;
  background-color: rgba(0, 201, 167, .1) !important
}

body .app-main .alert-danger {
  color: #de4437 !important;
  background-color: rgba(222, 68, 55, .1) !important
}

body .app-main .alert-warning {
  color: #db9a04 !important;
  background-color: rgba(219, 154, 4, .1) !important
}

body .app-main .alert-secondary {
  background-color: #212121 !important;
  box-shadow: none !important
}

body .app-main .alert-dark {
  background-color: #252525 !important;
  box-shadow: none !important
}

body .app-main .alert-light {
  background-color: #212121 !important;
  box-shadow: none !important
}

body .app-main .u-label--secondary {
  color: #c0d3df
}

body .app-main .u-label--dark {
  color: #c0d3df;
  background: #2d2d2d
}

body .app-main .u-label--text-dark, body .app-main .u-label--text-dark[type=button]:focus, body .app-main .u-label--text-dark[type=button]:hover {
  color: #c0d3df
}

//body .app-main .u-label--badge-in:after {
//  border-left-color: #212121
//}


body .app-main .color-strong.u-label--success {
  color: #00c9a7
}

body .app-main .color-strong.u-label--warning {
  color: #db9a04
}

body .app-main .list-group-item {
  background-color: transparent;
  border-color: #323232
}

body .app-main .list-group-item-action {
  color: #c0d3df
}

body .app-main .list-group-item-action:focus, body .app-main .list-group-item-action:hover {
  color: #135BEB;
  background-color: #2a2a2a
}

body .app-main .list-group-item.active {
  color: #fff;
  background-color: #135BEB
}

body .app-main .progress {
  background-color: #323232
}

body .app-main .btn-primary, body .app-main .btn-primary:not([href]), body .app-main .btn-primary:not([href]):not([href]):not(:disabled):not(.disabled) {
  color: hsla(0, 0%, 100%, .8);
  background-color: rgba(52, 152, 219, .2);
  border-color: rgba(52, 152, 219, .2)
}

body .app-main .btn-primary:focus, body .app-main .btn-primary:hover, body .app-main .btn-primary:not([href]):focus, body .app-main .btn-primary:not([href]):hover, body .app-main .btn-primary:not([href]):not([href]):not(:disabled):not(.disabled):focus, body .app-main .btn-primary:not([href]):not([href]):not(:disabled):not(.disabled):hover {
  color: #fff;
  background-color: #135BEB
}

body .app-main .btn-soft-light[href].active, body .app-main .btn-soft-light[href]:active, body .app-main .btn-soft-light[href]:focus, body .app-main .btn-soft-light[href]:hover, body .app-main .btn-soft-light[type].active, body .app-main .btn-soft-light[type]:active, body .app-main .btn-soft-light[type]:focus, body .app-main .btn-soft-light[type]:hover {
  color: #c0d3df;
  background: hsla(0, 0%, 100%, .2);
  box-shadow: none
}

body .app-main .btn-custom {
  border-color: #323232
}

body .app-main .btn-custom, body .app-main .btn-soft-secondary {
  color: #c0d3df
}

body .app-main .btn-secondary:not([href]), body .app-main .btn-secondary:not([href]):not([href]):not(:disabled):not(.disabled) {
  background-color: #244464;
  border-color: #244464
}

body .app-main .dropdown-menu {
  background-color: #252525
}

body .app-main .dropdown-item {
  color: #c0d3df
}

body .app-main .dropdown-item.active, body .app-main .dropdown-item:hover {
  color: #135BEB
}

body .app-main .dropdown-divider {
  border-color: #323232
}

body .app-main .page-item.disabled .page-btn {
  color: #c0d3df
}

body .app-main .popover {
  box-shadow: 0 .5rem 1.2rem rgba(4, 76, 124, .5);
  background-color: #252525
}

body .app-main .popover-body {
  color: #c0d3df;
  background-color: #252525
}

body .app-main .table td, body .app-main .table th {
  color: #e5ecf3;
  border-color: #323232
}

body .app-main .table .thead-light th {
  color: #e5ecf3;
  background-color: #252525 !important
}

body .app-main .table-active, body .app-main .table-active > td, body .app-main .table-active > th, body .app-main .table-hover tbody tr:hover {
  background-color: #2a2a2a
}

body .app-main .table-hover .table-active:hover, body .app-main .table-hover .table-active:hover > td, body .app-main .table-hover .table-active:hover > th {
  background-color: #323232
}

body .app-main .form-control::-webkit-input-placeholder {
  color: #c0d3df
}

body .app-main .form-control::-moz-placeholder {
  color: #c0d3df
}

body .app-main .form-control:-ms-input-placeholder, body .app-main .form-control::-ms-input-placeholder {
  color: #c0d3df
}

body .app-main .form-control::placeholder {
  color: #c0d3df
}

body .app-main .custom-select, body .app-main .form-control, body .app-main .input-group-text {
  color: #e5ecf3;
  border-color: #323232;
  background-color: #252525 !important
}

body .app-main .u-has-error .form-control,body .app-main .u-has-error .input-group-text, body .app-main .u-has-error .input-group-text, body .app-main .u-has-error:focus, body .app-main .u-has-error :focus {
  border-color: rgba(222, 68, 55, .5) !important
}

body .app-main .u-has-success .form-control, body .app-main .u-has-success .input-group-text, body .app-main .u-has-success:focus, body .app-main .u-has-success :focus {
  border-color: rgba(0, 201, 167, .5) !important
}

body .app-main .input-group-shadow {
  box-shadow: 0 .5rem 1.2rem hsla(0, 0%, 100%, .06)
}

body .app-main .form-control:disabled, body .app-main .form-control[readonly] {
  background-color: #2d2d2d !important
}

body .app-main .custom-select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgba(192, 211, 223, 0.9)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}

body .app-main .custom-arrow-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 151.717'%3E%3Cpath d='M115.285 147.693L4.025 36.433a13.739 13.739 0 0 1 0-19.431L17.002 4.025a13.74 13.74 0 0 1 19.408-.023l88.591 88.176 88.59-88.176a13.74 13.74 0 0 1 19.408.023l12.977 12.981a13.739 13.739 0 0 1 0 19.431l-111.26 111.256a13.741 13.741 0 0 1-19.432 0z' fill='rgba(192, 211, 223, 0.9)'/%3E%3C/svg%3E")
}


body .app-main .custom-control-label:before {
  background-color: rgba(52, 152, 219, .2) !important
}

body .app-main .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #135BEB !important
}

body .app-main .link-hover {
  color: #c0d3df
}

body .app-main .link-hover__item {
  color: #8db0c5
}

body .app-main .link-hover:hover {
  color: #fff
}

body .app-main .token-sticky-header {
  background-color: #252525 !important
}

@media (max-width: 576px) {
  body .app-main #divSTContainer .table tr td, body .app-main #divSTContainer td:nth-child(2) {
    border-color: #323232 !important
  }
  body .app-main #divSTContainer td:first-child, body .app-main #divSTContainer td:nth-child(2), body .app-main #divSTContainer th:first-child, body .app-main #divSTContainer th:nth-child(2) {
    background-color: #212121 !important
  }
}


body .app-main tspan {
  text-decoration: none;
  text-shadow: none !important
}

body .app-main .dataTable tr.even, body .app-main .dataTable tr.odd {
  background-color: #212121 !important
}

body .app-main .dataTable.table-hover tbody tr:hover {
  background-color: #2a2a2a !important
}

body .app-main .node text {
  fill: #c0d3df
}

body .app-main #overlayMain {
  background: rgba(37, 37, 37, .4) !important
}

body .app-main .post-content .post-message p {
  color: #c0d3df !important
}

body .app-main .ace-dawn .ace_content, body .app-main .ace-dawn .ace_gutter {
  background: #252525
}

body .app-main .ace-dawn .ace_gutter {
  color: #c0d3df
}

body .app-main .ace-dawn.ace_focus .ace_gutter-cell {
  background: #212121
}

body .app-main .ace-dawn .ace_print-margin {
  background-color: #323232
}

body .app-main #codefund #cf, body .app-main #codefund .tooltiptext {
  color: #c0d3df !important
}

body .app-main #codefund #info-circle-light {
  fill: #c0d3df !important
}

body .app-main .text-secondary {
  color: #8c96a5 !important
}

body .app-main .link-hover-secondary, body .app-main .text-dark, body .app-main .text-link, body .app-main .text-muted, body .app-main .text-white {
  color: #e5ecf3 !important
}

body .app-main .link-hover-secondary:hover, body .app-main .text-link.active, body .app-main .text-link:hover {
  color: #135BEB !important
}

body .app-main .text-white-70 {
  color: rgba(192, 211, 223, .7)
}

body .app-main .text-white-70:hover {
  color: #c0d3df
}

body .app-main .border, body .app-main .border-bottom, body .app-main .border-top {
  border-color: #323232 !important
}


body .app-main .bg-light {
  background-color: #252525 !important
}

body .app-main .bg-soft-secondary {
  background-color: rgba(52, 152, 219, .1)
}
 body .app-main .bg-light-alt, body .app-main .bg-white-content {
  background-color: #212121 !important
}

body .app-main .stop-color-white {
  stop-color: #252525 !important
}

body .app-main--blockscan a:hover {
  color: #135BEB;
  opacity: .8
}

body .app-main--blockscan .page-btn:hover {
  color: #fff;
  opacity: 1
}

body .app-main--blockscan .header-nav-link:hover:not(.hb-header-sub-menu-title), body .app-main--blockscan .hb-header-sub-menu-nav-link:hover:not(.hb-header-sub-menu-title), body .app-main--blockscan .hb-header-sub-menu-title:hover:not(.hb-header-sub-menu-title) {
  opacity: 1
}

body .app-main .ether-search:hover{background-color:#252525;color:#c0d3df;border-color:#013558 !important}
body .app-main .el-dialog{
  background-color: #252525 !important;
  .el-dialog__title{
    color: white !important;
  }
  .el-button--default{
    background-color: #252525 !important;
  }
}
